<RadzenStack AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start" Gap="0">
    <RadzenText TextStyle="TextStyle.Caption" Text="@Key" />
    @if (Template is not null)
    {       
            @Template     
    }
    else
    {
        <span>@Value</span>
    }
    
</RadzenStack>


@code {
    [Parameter]
    public string? Key { get; set; }
    [Parameter]
    public string? Value { get; set; }
    [Parameter]
    public RenderFragment? Template { get; set; }
}