<div>
<RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="/dashboard" />
  <RadzenPanelMenuItem Text="Crashes" Icon="dangerous" Path="/diagnostics/crashes" />
  <RadzenPanelMenuItem Text="Errors" Icon="error" Path="/diagnostics/errors" />
  <RadzenPanelMenuItem Text="Dependencies" Icon="file_download" Path="/diagnostics/dependencies" />
  <RadzenPanelMenuItem Text="Page views" Icon="visibility" Path="/analytics/page" />
  <RadzenPanelMenuItem Text="Events" Icon="touch_app" Path="/analytics/events" />
  <RadzenPanelMenuItem Text="Users" Icon="people" Path="/analytics/users" />
  <RadzenPanelMenuItem Text="Devices" Icon="smartphone" Path="/analytics/devices" />
    <RadzenPanelMenuItem Text="Custom query" Icon="find_in_page" Path="/query" />
</div>  
@code {

}
