@inherits LayoutComponentBase
<CascadingValue Value="IsLoggedIn">
<CascadingValue Value="IsLoggedInChanged">
            <RadzenLayout>
                <RadzenHeader>
                    <RadzenStack>
                        <h1>MAUI Insights</h1>
                    </RadzenStack>

                </RadzenHeader>
                <RadzenSidebar Expanded="true">
                    <Menu/>
                </RadzenSidebar>
                <RadzenBody>
                    <div>
                        @Body
                    </div>
                </RadzenBody>
            </RadzenLayout>
        </CascadingValue>
    </CascadingValue>
<RadzenComponents/>
@code
{
    public bool IsLoggedIn { get; set; }
    public EventCallback<bool> IsLoggedInChanged { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        IsLoggedInChanged = EventCallback.Factory.Create<bool>(this, x => IsLoggedIn = x);
    }
}
