<RadzenDataGrid Data="allProperties">
    <Columns>
        <RadzenDataGridColumn TItem="PropertyModel" Title="Property" Property="@nameof(PropertyModel.Property)" Width="200px" />
        <RadzenDataGridColumn TItem="PropertyModel" Title="Value" Property="@nameof(PropertyModel.Value)" >
            <Template>
                @if(context.Property == "user_Id")
                {
                    <a href="/SearchResult/@context.Value"><b>@context.Value</b></a>
                }
                else
                {
                    <span class="wrap">@context.Value</span>
                }   
               
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    [Parameter]
    public Dictionary<string, string> Properties { get; set; } = new();

    private List<PropertyModel> allProperties = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        allProperties.AddRange(Properties.Select(x => new PropertyModel() {Property = x.Key, Value = x.Value}));
    }

    private class PropertyModel
    {
        public required string Property { get; set; }
        public string? Value { get; set; }
    }
}