::deep .rz-sidebar
{
    background-color:transparent;
    padding:16px;
}

::deep #monaco-query-editor { /* applies to a specific editor instance */
    height: 300px;
    border: solid;
    border-color: rgb(238, 238, 238);
    border-width: 1px;
    padding: 10px;
}

::deep .monaco-editor-container { /* applies to all editor instances */
    height: 500px;
}

::deep .run_button
{
    width:100px;
}

.query {
    font-family: Monaco, Menlo, Courier;
}

::deep .close-history {
    position:absolute;
    right: 460px;
    top:35px;    
}

::deep .history {
    width: 20px;
    font-size:32px !important;
    background-color: transparent !important;
    color: black !important;
    box-shadow: none;
}

::deep .history i {

    font-size: 28px !important;

}

::deep .history:hover,
::deep .history:active,
::deep .history:focus {
    box-shadow: none !important;
}

::deep .open-history {
    position: absolute;
    right: 20px;
    top: 20px;
    box-shadow: none;
}

